syntax: glob

obj/*
*.vtk
*.msh
*.png
kspinfo.*
*.pdf
*.bathe
doc/fermi-man/*.log
doc/fermi-man/*.lot
doc/fermi-man/*.lof
doc/fermi-man/*.backup
doc/fermi-man/*.toc
doc/fermi-man/*.aux
doc/fermi-man/*.idx
doc/fermi-man/*.out
fermi
*epart*
*npart*
*metismesh
