syntax: glob

build

*.vtk
*.msh
*.png
*.log
*.pdf
*.dat
.deps
.libs
.gdb_history
*.lot
*.lof
*.backup
*.toc
*.aux
*.idx
*.out
fermi
*epart*
*npart*
*metismesh
*.so*
*.lo
*.o
*.swp
*.a
*.la

# examples
tmpi
tmpi2
control
test.sh


#PLEPP
ple-config
libtool
doxygen
config.status
Execs
